<ul>
    <li><a href="/about/">Red Tide</a></li>
    <li><a href="/masters_swimming/">Masters Swimming</a></li>
    <li><a href="/new_swimmers/">New Swimmers</a></li>
      <ul>
        <li><a href="/new_swimmers/#faqs">FAQs</a></li>
      </ul>
		<li><a href="/members/">Members</a></li>
		  <ul>
		    <li><a href="/members/#account">Red Tide Online Account</a></li>
		    <li><a href="/members/#faqs">FAQs</a></li>
		  </ul>
		<li><a href="/workout/">Workout Schedule</a></li>
		<li><a href="/workout/#pools">Pools</a></li>
		  <ul>
		    <li><a href="/workout/#baruch">Baruch</a></li>
		    <li><a href="/workout/#chinatown">Chinatown YMCA</a></li>
		    <!--li><a href="/workout/#john_jay">John Jay College</a></li-->
		    <li><a href="/workout/#convent_of_the_sacred_heart_school">Sacred Heart School</a></li>
		  </ul>
		<li><a href="/coaches/">Coaches</a></li>
		<li><a href="/board/">Board</a></li>
</ul>
