<ul>
    <li><a href="/workouts/">Workout Schedule</a></li>
    <li><a href="/workouts/#pools">Pools</a></li>
      <ul>
        <li><a href="/workouts/#baruch">Baruch College Pool</a></li>
        <li><a href="/workouts/#chinatown">Chinatown YMCA Pool</a></li>
        <!--li><a href="/workouts/#john_jay">John Jay College Pool</a></li-->
        <li><a href="/workouts/#convent_of_the_sacred_heart_school">Sacred Heart School</a></li>
      </ul>
    <li><a href="/meets/">Swim Meets</a></li>
</ul>
