{% extends "admin/base_site.html" %}
{% load adminmedia %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/css/survey_creator.css"/>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/media/js/trimpath/template.js"></script>
<script type="text/javascript" src="/media/js/MochiKit/MochiKit.js"></script>
<script type="text/javascript" src="/media/js/fckeditor/fckeditor.js"></script>
<script type="text/javascript" src="/media/js/admin/SurveyCreator.js"></script>
{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}change-form{% endblock %}
{% block userlinks %}<a href="/admin/doc/">Documentation</a> / <a href="/admin/password_change/">Change password</a> / <a href="/admin/logout/">Log out</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="/admin/">Home</a> &rsaquo; <a href="../">Survey</a> &rsaquo;
</div>
{% endblock %}
{% block content %}
<div id="content-main">
<h1>{% if add %}Add Survey{% else %}Change Survey{% endif %}</h1>
{% if change %}
	<ul class="object-tools">
		<li><a href="history/" class="historylink">History</a></li>
		<li><a href="/surveys/{{ survey.id }}/" class="viewsitelink">View on site</a></li>
	</ul>
{% endif %}
	<form method="post" action="" id="surveyform">
		<div id="form_div">
			<fieldset class="module aligned ()">
				<div class="form-row">
					<label class="required" for="id_title">Title:</label>
					<input  type="text" maxlength="80" value="{{ survey.title }}" size="30" name="title" class="vTextField required" id="id_title"/>
				</div>
				<div class="form-row checkbox-row">
					<input id="id_is_swimmers" class="vCheckbocField" type="checkbox" 
						{% if survey.swimmers_only %} checked="checked" {% endif %} name="swimmers_only"/>
					<label class="vCheckboxLabel" for="id_is_swimmers_only">Swimmers Only?</label>
				</div>
				<div class="form-row">
					<label for="id_introduction">Survey Introduction</label>
					<textarea id="id_introduction" class="vLargeTextField" cols="40" rows="10" name="introduction">{{ survey.introduction }}</textarea>
				</div>
				<div class="form-row" id="questions">
					<label class="required" for="id_questions">Questions:</label>
					<div id="id_questions">
						<ol id="question_list">
							{% for q in survey.get_ordered_questions %}
							<li id="list{{ forloop.counter0 }}">
								<input type="hidden" name="question{{ q.id }}" value="{{ q.id }}"/>
								<input type="hidden" name="order{{ forloop.counter0 }}" value="{{ q.id }}"/>
                                                                <span style="padding-right: .5em;">{{ q }}</span>
								<span style="padding-right: .5em;">
									<a id="delq{{ q.id }}" href="javascript:void(0);"><img alt="Delete Question" border="0" src="/media/img/admin/icon_deletelink.gif"/></a>
								</span>
								<span style="padding-right: .5em;">
									<a id="preview{{ q.id }}" href="javascript:void(0);"><img alt="Preview Question" border="0" src="/media/img/admin/icon_searchbox.png"/></a>	
								</span>
								<span style="padding-right: .5em">
									<a id="edit{{ q.id }}" href="javascript:void(0);"><img alt="Edit Question" border="0" src="/media/img/admin/icon_changelink.gif"/></a>	
								</span>
							</li>
							{% endfor %}
						</ol>
					</div>
				</div>
				<div class="form-row" id="create">
					<label id="creator_label">Start by choosing a question type:</label>
					<div id="create_container">
						<ul id="type_selector">
							{% for type in qtypes %}
							<li id="type{{ type.0 }}">{{ type.1 }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</fieldset>
			<div class="submit-row">
				{% if change %}
				<p class="float-left"><a href="/admin/survey/delete/{{ survey.id }}/" class="deletelink">Delete</a></p>
				{% endif %}
				<input type="submit" value="Save and add another" name="_addanother"  />
				<input type="submit" value="Save and continue editing" name="_continue" />
				<input type="submit" value="Save" class="default" />
			</div>
		</div>
	</form>
</div>
<textarea id="comment" style="display: none;">
    {var tag = "textarea"}
    <div id="preview_question">
        <p class="question">${question}</p>
        
        <${tag} column="30" rows="10" name="comment" value=""></${tag}>
    </div>
</textarea>
<textarea id="matrix" style="display: none;">
    <div id="preview_question">
        <p class="question">${question}</p>
        <table>
	    <tr>
	        <th></th>
		{for col in data.clabels}
                    {if col_index < data.clabels.length}
		    <th>${col}</th>
                    {/if}
		{/for}
		</tr>
		{for row in data.rlabels}
                {if row_index < data.rlabels.length}
		<tr>
                        <td>${row} </td>
			{for col in data.clabels}
                        {if col_index < data.clabels.length}
			<td><input type="radio" name="choice_${row_index}" value="${row}:${col}"/></td>
			{/if}
                        {/for}
		</tr>
                {/if}
		{/for}
	</table>  
    </div> 
</textarea>
<textarea id="vert_choice" style="display: none;">
    {var tag = "textarea"}
    <div id="preview_question">
        <p class="question">${question}</p>
        <ol>
            {for choice in data.choices}
            <li>
                {if data.multiple}
                <input type="checkbox" name="choice{choice_index}" value=""/><span style="padding-left: .5em">${choice.choice}</span> 
                {else}
                <input type="radio" name="choice" value=""/><span style="padding-left: .5em">${choice.choice}</span>
	        {/if}
                {if choice.has_comment}
	        <${tag} columns="30" rows="3" name="choice_comment" value=""></${tag}>
		{/if} 
            </li>
            {/for}
        </ol>
    </div>
</textarea>
{% endblock %}
