 {% extends "index/base.html" %}
{% block title %}About Coaches{% endblock %}
{% block content %}
<div id="main" section="about">
    <div class="sub">
        <div class="subleft">
            {% include "common/about_subnav.html" %}
        </div>
        <div class="subright">
          <h1><span>Coaches</span></h1>
					<p>Red Tide is proud to be affiliated with a dynamic group of swim coaches who bring loads of swimming experience and expertise on to the deck each and every practice session. Our coaches come from a wide variety of backgrounds and professions and they all share a love for the sport and for teaching swimmers of all levels the finer points of swimming smart and swimming for fun.  Each coach brings a unique perspective to his or her practice session(s) so make sure to check every one out!</p>

					Romain Rouaud
					Head Coach

					<p>Romain was born and raised in Paris, France, where he began to swim at the age of 7 for Club Premiere Serie and then for the Neptune Club de France, a prestigious French swimming club in the heart of the French capital.  He became a professional swimming coach in 2006 and graduated from Descartes University with a Master's degree in 2008, where he swam 50 Fly and 100 Free. In parallel with his studies, he coached many swim levels from 8 & Under to Masters, as well as both competitive and non-competitive swimmers. He has worked with both French and American Olympic coaches and their swimmers.</p>

					<p>He moved with his wife to NYC in November 2010, looking to expand his career. When he is not with Red Tide enjoying coaching and swimming, he gives private swim and personal training lessons.   Romain is on deck Monday morning and evening, Wednesday evening, Friday morning and Saturday second session. </p> 


					Tyrone Hutchinson
					Coach
					<p>Tyrone is a New York City native. He started swimming competitively at age seven at the local YMCA in the Bronx. At age twelve he joined the West Side Y Marlins. There he became a 2-time YMCA State Champion in the 100 fly, YMCA National qualifier, and Junior National qualifier. Tyrone graduated from Saint Bonaventure University in 1997 where he won two A-10 championships and was a perennial finalist in the 100 and 200 fly.</p>
					<p>He joined Red Tide in November 2005 as a swimmer and began coaching in September 2006. He believes that technique and the nuances of swimming make a faster and smarter swimmer.  Tyrone coaches Tuesday and Thursday evenings.</p>

					Kelly McPherson
					Coach
					<p>Kelly began swimming at the age of 8 in Baltimore and at the age of 9 was recruited to join North Baltimore Aquatic Club.  She qualified and attended Junior Nationals in the spring of 1992 where she also qualified for her first Senior National Meet.  In 1996, she competed in the Olympic Trials in Indianapolis where she reached the finals in the 800 freestyle.  After graduating from high school, Kelly went on to swim for the University of Southern California and was an NCAA qualifier in the 1650 freestyle.</p>
					<p>Kelly joined Red Tide in 2007 and became a coach in 2009.  Currently, you can find Kelly in the pool or on the deck.  She is always trying to get more Red Tiders to do open water races.</p>
					<p>Kelly loves the pool deck so much she gives private swim lessons! For more information please contact her at mcpkelly AT gmail.com.  Kelly’s practices are Wednesday morning and the first session on Saturday morning.</p>

					Kaitlin Moughty
					Coach
					<p>Kaitlin started swimming at age 5 in Houston, Texas and finished her age group career in Connecticut with the Wilton Y Wahoos. As a Wahoo, she was a multi-time finalist at YMCA Nationals and was part of the 2003 Long Course National Championship team. She was named 2-time team captain and 4-time Patriot League First Team at American University where she holds the school record in the 400 IM.</p>
					<p>While Kaitlin loves swimming a variety of strokes and distances, you will not find her doing open water. When not at the pool, you can find Kaitlin staring at models in their underwear (she works for an underwear company) or dancing the jig! Check out her Tuesday morning sessions. </p>

					Justin Capuco
					Coach
					<p>Who is Justin Capuco? He’s the guy in the picture. To find out more about him, come to Thursday morning practice.
					</p>
					Phil Donihe
					Dry-land Coach

					<p>Phil began swimming as an age group swimmer and competed up until college.  He attended The University of Tennessee where he obtained his BS in Exercise Science. </p> 
					<p>As the UT strength coach and head manager he used his combined swimming and strength and conditioning background to work with the men’s swim team.  In the summer of 2008 he worked with several foreign Olympians from Sweden, Ireland and Venezuela in the weight room and facilitated underwater stroke analysis.</p>   

					<p>Phil has certifications in Personal Training, Strength and Conditioning, Kettlebell Training, Range of Motion Specialist and TRX.  He currently works for a Medical Fitness Center where his clients range from Orthopedic and Cardiac rehabilitation to Ironman Triathletes and competitive swimmers.  He joined Red Tide 2 years ago as a swimmer and is fired up to run dry-land workouts and be a part of the coaching staff.  To work out with Phil, come to the Thursday evening dry-land sessions from 6-630 pm. </p>

					Scott Werner
					Substitute Coach
					<p>Scott Werner began swimming at the age of 4 in his hometown of Haymarket Virginia.  As a member of the club team Solotar Scott won several events at various Junior National Championships and competed in a number of Senior National Championships. In 1997, Scott was tapped for the U.S. National Junior Team and won a silver medal in the 200-meter breaststroke at the 1997 World University Games in Sicily.  Scott went on to swim for the University of Michigan where he garnered several championship titles and served as the 2001 Men's Swimming and Diving team Captain.  Scott was also a finalist at the 2000 Olympic Team Trials in the 200-meter breaststroke.</p>
					<p>Scott began swimming and coaching for Red Tide in the spring of 2007, after a little arm-twisting from the team President Kristin Gary.  His early skepticism about entering the world of Masters swimming has been replaced with eternal gratitude because, as fate would have it, he really likes the people on the team.</p>

					Jeremy Fain
					Substitute Coach
					<p>Jeremy Fain began competitive swimming at the age of 6 during the summers for Daleview Swimming Pool in Silver Spring, MD. At 12 he began year round USS competition with Rockville Montgomery Swim Club (RMSC). At 15 he made his first Junior Nationals qualifying times in the 50 and 100 free.</p>
					<p>He has always been, and always will be, a sprinter. Jeremy swam all four years in college at Yale University and started as a Red Tide swimmer in the fall of 2003. He began coaching for the team in 2004 and looks forward to another great season for Red Tide. Jeremy does not like doing open water swims but encourages and appreciates all others that do them.</p>

					Nicholas Hernandez
					Substitute Coach
					<p>Nick began swimming in high school and moved on to compete at Saddleback College and the University of Southern California under Dave Salo.  While prepping at USC, Nick began coaching with Southern California Aquatics (SCAQ), the largest masters program in the country.  Upon graduation, Nick came to New York City to study law at Fordham University.</p>

					<p>You can currently find Nick around his Lincoln Center apartment or in the pool.  Nick brings to the pool deck an array of mantras that either empower his swimmers or annoy the heck out of them.  Regardless, as a swimmer himself, he constantly pushes his swimmers to master their goals and achieve the impossible. </p> 
					
        </div>
        <br class="clearme"/>
    </div>
    {% include "common/footer.html" %}
</div>
{% endblock %}
