{% extends "index/base.html" %}
{% block title %}About Red Tide{% endblock %}
{% block content %}
<div id="main">
    <div class="sub">
        <div class="subleft">
            {% include "common/about_subnav.html" %}
        </div>
        <div class="subright">
           <h3>About Red Tide</h3>
					 <p>Red Tide New York City masters swim team is a community of athletes with a passion for the pool. We swim for fun, fitness and competition.</p>

					<p>Based in New York City for over twenty years, Red Tide prides itself on the many walks of life that comprise our membership -- from novice swimmers to USMS national and world titleholders as well as runners, cyclists and triathletes.  Our members are locally based to globetrotting professionals who enjoy the camaraderie and competition that are part of Red Tide.</p> 

					<p>The team is a not for profit organization run by a volunteer board of directors and other team members who work together to manage the team. </p>

					<p>Red Tide is proud to be affiliated with a supportive and enthusiastic group of coaches.  Our coaches draw from their extensive swimming backgrounds to create an exciting and diverse swim program.  Together they guide and drive members in the achievement of both team and individual goals. Swimmers will find coaches not only on deck but alongside them in the pool as Red Tide’s coaches also swim for the team and practice what they preach!</p>

					<p>Red Tide’s flexible practice schedule allows swimmers to maximize their pool time according to their personal calendars. Equally accommodating is the team’s payment policy; we offer three payment plan options so swimmers can choose a program that best works with their individual goals and needs.</p>

					<p>We are a competitive masters swim team.  While meet participation is not mandatory we do encourage all Red Tide members to participate in at least two USMS swim meets and/or open water events a year. Our practices are geared towards preparing swimmers for meets and participation is a fun way to get to know your teammates and accomplish personal goals. </p>

					<p>Each year, Red Tide hosts a training trip for those swimmers who want to take advantage of having a large block of time to both train hard and meet some great people.  Our trips take place in February/March and are located in a tropical destination making them a great way to shake off the winter blues.  Past training trip locations include Barbados, the Bahamas, Mexico and the Dominican Republic. </p>

					<p>We also encourage an active dry-land social scene through our monthly (or more) Red Tide happy hours and other organized out-of-pool activities like Red Tide flag football and open water meet-ups. </p>

					<p>Click <a href="/join/">here</a> to join in the fun!</p>
        </div>
        <br class="clearme"/>
    </div>
    {% include "common/footer.html" %}
</div>
{% endblock %}
