 {% extends "index/base.html" %}
{% block title %}About Masters Swimming{% endblock %}
{% block content %}
<div id="main" section="about">
    <div class="sub">
        <div class="subleft">
            {% include "common/about_subnav.html" %}
        </div>
        <div class="subright">
          <h1><span>About Masters Swimming</span></h1>
          <p>Masters swimming is an organized program of swimming for adults over 18 years of age. United States Masters 
            Swimming (<a href="http://www.usms.org" target="_new">www.usms.org</a>), is divided into Local Masters Swim Clubs (LMSC).  
            Red Tide is affiliated with the Metropolitan Masters LMSC (<a href="http://www.metroswim.org" target="_new">www.metroswim.org</a>).</p>
        </div>
        <br class="clearme"/>
    </div>
    {% include "common/footer.html" %}
</div>
{% endblock %}
