 {% extends "index/base.html" %}
{% block title %}Members{% endblock %}
{% block content %}
<div id="main">
    <div class="sub">
        <div class="subleft">
            {% include "common/about_subnav.html" %}
        </div>
        <div class="subright">
          <h3>Members</h3>
          <div class="login_form">
            <!-- club assistant login -->
            <form action="https://www.clubassistant.com/club/login_do.cfm" method="post">
              <div class="field">  
                <label for="txtLoginName">USERNAME</label> 
                <input type="text" name="txtLoginName" maxlength="50">
                <input type="hidden" name="txtLoginName_required" value="Please enter a Login Name.">
              </div>
              <div class="field">
                <label for="pasPassword">PASSWORD</label> 
                <input type="password" name="pasPassword" maxlength="50">
                <input type="hidden" name="pasPassword_required" value="Please enter a Password.">
              </div>
              <div class="field">
                <input type="hidden" name="hidClubID" value="1376">
                <button type="submit" value="Login">LOGIN</button>
              </div>
            </form>
          </div>

          <a name="account"></a>
          <p>Red Tide Online Account Features</p>

          <p>Contact Information</p>
          <p>Update your contact information and manage email notifications</p>

          <p>Payment</p>
          <p>Make a payment, view payment history and update billing information</p>

          <a name="faqs"></a>
          <p>Frequently Asked Questions</p>

          <p>Q: How do I purchase a swim pass?  </p>

          <p>A: You can purchase a swim pass or other Red Tide merchandise directly from your account page.  Just log in and click on “Order Now” under Club Links on the main account page.   The Swim Pass is listed under the Merchandise page.  Follow directions to check out.</p>

          <p>Q: How do I switch change my fee option or cancel my membership?  </p>

          <p>A: Please email <a href="mailto:billing@redtidenyc.org">billing@redtidenyc.org</a> for all inquiries and requests relating to your account.</p>
        </div>
        <br class="clearme"/>
    </div>
    {% include "index/footer.html" %}
</div>
{% endblock %}
