 {% extends "index/base.html" %}
{% block title %}Information for New Swimmers{% endblock %}
{% block content %}
<div id="main">
    <div class="sub">
        <div class="subleft">
            {% include "common/about_subnav.html" %}
        </div>
        <div class="subright">
          <h3>Information for New Swimmers</h3>
          <p>New to Red Tide? We encourage you to come and swim with the team to see what we are about. 
            Your first drop-in session with the team is free of charge.</p>

          <p>Check out the workout schedule and decide which practice you would like to attend.  Arrive a few minutes early and speak with the coach on deck.  Unless you’ve got a current USMS card, you will be asked to sign a USMS waiver (for insurance purposes) valid for 30 days.   After the paperwork is out of the way the coach will help you determine which lane is most appropriate for your speed, skill and/or fitness level and off you go! </p>

          <p>What to bring to your first practice:</p>

          <ul>	
            <li>Cap</li>
            <li>Goggles</li>
            <li>Towel</li>
            <li>Swimsuit</li> 
            <li>Lock for your valuables</li>
          </ul>

          <p>Remember, DO NOT feel pressured to swim the entire practice your first time through.  If you need to take breaks please do so, just make sure to pull off to the side of the lane and let your lane mates keep going uninterrupted.  If you have questions about sets, timing, etc. ask a lane mate or the coach. </p>

          <p>Once you decide to join Red Tide (and we hope you do!), please click <a href="">here</a> for our registration information and fee options. </p>
          
          <p>Frequently Asked Questions</p>

          <p>Q:  Do you offer a free trial session?</p>

          <p>A:  Yes, we do offer one free drop-in session so swimmers can get a sense of what the team is like and how our practices are structured.  Just show up to any regularly scheduled practice and speak with the coach on deck.  He/she will get you situated.  You DO NOT need to be a USMS swimmer to take advantage of the free drop-in.</p>

          <p>Q: Are all of the swimmers on the team super fast or is there a range?</p>

          <p>A:  Speed and skill levels vary on the team.  Our lanes are divided by swimmer ability and speed.  Two lanes of the pool tend to be set up for more novice swimmers, the middle lanes are for intermediate level swimmers and we have one or two “fast” lanes for the truly speedy among us.</p>


          <p>Q:  I never swam competitively in high school or college but continued to swim off and on throughout the years to maintain fitness. I started to do triathlons 2 years ago and want to do some more structured workouts opposed to just jumping in and doing laps.  I am proficient in all strokes and would like to improve my technique and stamina.  Would Red Tide be a good fit? </p>

          <p>A:  Yes.  Our practices involve all four strokes: freestyle, butterfly, backstroke and breaststroke.  While the coach has limited time to spend on individual coaching, members will have the opportunity to receive some amount of coaching on technique.  Additionally, the team format is a great way to stay motivated and improve swim stamina.   In fact, many of our members are triathletes who have found that swimming is a wonderful complement to their year-round triathlon fitness regimen.</p> 

          <p>Q:  I swam competitively from the age of X through college but haven’t swum much in the past X years Would there be any issue with my joining the team even though I am quite of out of swimming shape? </p>

          <p>A: Not at all.  Many new members come back to the sport after several years away from the pool.  Just take it easy the first few practices – DO NOT feel pressured to complete all sets.  With regular practice attendance your stamina will be back in no time. </p>

          <p>Q:  I only swim freestyle, is Red Tide a good fit?</p>

          <p>A: Red Tide is not a "learn to swim" program and we recommend that swimmers take private or semi-private lessons in the other stroke disciplines before joining the team so that they feel more comfortable with the structure of our practices.  Almost all practices involve all four strokes and we do ask that all swimmers are willing to try swimming all strokes.  Otherwise, it becomes disruptive for lane mates. </p>

          <p>For more information please email <a href="mailto:info@redtidenyc.org">info@redtidenyc.org</a>.</p>
        </div>
        <br class="clearme"/>
    </div>
    {% include "index/footer.html" %}
</div>
{% endblock %}
