{% extends "index/base.html" %}
{% block title %}About: {{ flatpage.title }}{% endblock %}
{% block content %}
<div id="main" section="about">
    <div class="sub">
        <div class="subleft">
            {% include "common/about_subnav.html" %}
        </div>
        <div class="subright">
            {% autoescape off %}
                  {{ flatpage.content }}
            {% endautoescape %}
        </div>
        <br class="clearme"/>
    </div>
    {% include "common/footer.html" %}
</div>
{% endblock %}
