{% extends "index/base.html" %}
{% block title %}Extras / {{ flatpage.title }}{% endblock %}
{% block content %}
<div id="main" section="extras">
    <div class="sub">
        <div class="subleft">
            <ul>
              <li><a href="/training_trip/">Training Trip</a></li>
            </ul>
        </div>
        <div class="subright">
          <img src="/media/img/headers/extras.jpg"/>
            {% autoescape off %}
                  {{ flatpage.content }}
            {% endautoescape %}
        </div>
        <br class="clearme"/>
    </div>
    {% include "common/footer.html" %}
</div>
{% endblock %}
