{% extends "index/base.html" %}
{% block title %}Extras / {{ flatpage.title }}{% endblock %}
{% block content %}
<div id="main" section="extras">
    <div class="sub">
         <div id="subleft" class="subleft">
          {% include "common/competition_subnav.html" %}
        </div>
        <div class="subright">
          <img src="/media/img/headers/openwater.jpg"/>
            {% autoescape off %}
                  {{ flatpage.content }}
            {% endautoescape %}
        </div>
        <br class="clearme"/>
    </div>
    {% include "common/footer.html" %}
</div>
{% endblock %}
