<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{{ flatpage.title }}</title>
</head>
<body>
	<div id="content" class="displaycontent">
		<div class="close">
			<a id="close_link" href="javascript:void(0);">
				<img src="/media/img/admin/icon_deletelink.gif" border="0"/></a>
		</div>
		
                {{ flatpage.content }}
               <div class="closebottom">
        		<a id="close_link_bottom" href="javascript:void(0);" class="red_link">Return to registration</a>
        	</div>
     
        </div>
</body>
</html>
