{% extends "index/base.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block add_stylesheets %}
{% endblock %}
{% block content %}
<div id="main">
    <div class="sub">
        <div class="subleft">    
            <ul>
                <li><strong>How to Join</strong></li>
                  <ul>
                    <li><a href="#annual_fee">Annual Mem. &amp; Fee Options</a></li>
                    <li><a href="#reg_instructions">Registration Instructions</a></li>
                    <li><a href="#cancellation">Cancellation &amp; Fee Option Changes</a></li>
                  </ul>
                <li><strong>Online Registration</strong></li>
                  <ul>
                    <li><a href="https://www.clubassistant.com/club/USMS.cfm?club=REDT">USMS Registration</a></li>
                    <li><a href="https://www.clubassistant.com/club/online_registration.cfm?c=1376">Red Tide Registration</a>	</li>
                  </ul>
            </ul>
        </div>
        <div class="subright">
	{% autoescape off %}
            {{ flatpage.content }}
	{% endautoescape %}
        </div>
        <script type="text/javascript">
        _uacct = "UA-1705610-1"; 
        urchinTracker(); 
        $('usms_form').onClick="javascript:urchinTracker('/downloads/usmspdf');";
        </script>
        <br class="clearme"/>
    </div>
    {% include "common/footer.html" %}
</div>
{% endblock %}
