{% extends "index/base.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block add_stylesheets %}
{% endblock %}
{% block content %}
<div id="main">
    <div class="sub">
        <div class="subright">    
            <ul>
                <li><strong>How to Join</strong></li>
                <li><a href="https://thriva.activenetwork.com/Reg4/Form.aspx?IDTD=3807745&RF=3809206&mode=0">Registration</a></li>
            </ul>
	    <table width="180" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #393939; background-image:url(http://www.thriva.com/link/secure/lockbg.gif); background-repeat:repeat-y; margin:0px; padding:0px;"><tr style=" margin:0px; padding:0px;"><td align="left" valign="top" style=" margin:0px; padding:0px;"><a href="http://www.thriva.com" target="_blank"><img src="http://www.thriva.com/link/secure/secureonlineregistration2.gif" alt="Secure Online Registration by Thriva" width="178" height="36" border="0" style="margin:0px; padding:0px; border:0px;"/></a></td></tr><tr style=" margin:0px; padding:0px;"><td align="left" valign="top" style=" margin:0px; padding:0px;"><div align="center"><strong><a href="http://www.thriva.com" target="_blank" style="text-decoration:none; color:#393939; font-family:Arial, Helvetica, sans-serif; font-size:11px;">Secure Online Registration and Management Software</a></strong></div></td></tr></table>
        </div>
        <div class="subleft">
	{% autoescape off %}
            {{ flatpage.content }}
	{% endautoescape %}
        </div>
        <script type="text/javascript">
        _uacct = "UA-1705610-1"; 
        urchinTracker(); 
        $('usms_form').onClick="javascript:urchinTracker('/downloads/usmspdf');";
        </script>
        <br class="clearme"/>
    </div>
    {% include "index/footer.html" %}
</div>
{% endblock %}
