{% extends "index/base.html" %}
{% block title %}Red Tide Video Gallery{% endblock %}
{% block add_stylesheets %}
  <script type="text/javascript" src="/media/js/swfobject.js"></script>
  <script type="text/javascript" src="/media/js/MochiKit/Base.js"></script>
  <script type="text/javascript" src="/media/js/MochiKit/DOM.js"></script>
  <script type="text/javascript" src="/media/js/videos.js"></script>
{% endblock %}
{% block content %}
<div id="main" section="gallery">
<script type="text/javascript">
    function thisMovie(movieName) {
	    if(navigator.appName.indexOf("Microsoft") != -1) {
			return window[movieName];
		} else {
			return document[movieName];
		}
	};
    
    function loadFile(obj) { 
        swapDOM('title', DIV({'id':'title', 'class':'redline'}, obj.title)); 
        thisMovie("mpl").loadFile(obj); 
    };
</script>
  <div class="sub">
	<div id="subleft" class="subleft">
	    <ul>
          <li><a href="/photos/">Photos</a></li>
          <li><a href="/photos/videos">Videos</a></li>
      </ul>
	</div>
	<div id="subright" class="subright no_image">
            <h1><span>RedTide Video Gallery</span></h1>
            <p>To view each video, click on the image.</p>
            <div id="gallery">   

            </div>
            <div id="title" class="redline">{{ object.title }}</div>
            <div id="main" class="highlightbox">
                <p id="video" style="text-align: center;"><a href="http://www.macromedia.com/go/getflashplayer">
                    Get the Flash Player</a> to see this player.</p>
            </div>     
        <script type="text/javascript">
            var s1 = new SWFObject("/media/flash/flvplayer.swf","mpl","320","240","7");
            s1.addParam("allowfullscreen","true");
            s1.addVariable("file","{{ object.get_video }}");
            s1.addVariable("image", "{{ object.get_thumb }}");
            s1.addVariable("enablejs", "true");
            s1.addVariable("javascriptid", "mpl");
            s1.write("video");
        </script>
        <br class="clearme"/>
  </div>
  
    {% include "common/footer.html" %}
</div>

<!-- template -- >
<textarea id="video_table" style="display:none;">
<div class="videoTable">
    {for row in rows}
      <div class="row">
        {for vid in row}
          <div class="videocell" id="video_{{ vid.id }}">${vid.title}<br/>
          {if vid.id != ""}
            <a href="javascript:loadFile({file:'{{ vid.get_video }}', title:'{{ vid.title }}', image:'{{ vid.get_thumb }}'})">
              <img src="${vid.get_thumb}" width="165" height="125" border="0"/>
            </a>
          {/if}
          </div>
        {/for}
      </div>
    {/for}
    <div class="alt" colspan="4"><p>{if prev}<a href="javascript:void(0);" id="prev_galleries">&lt;&lt;prev</a>{/if} Page ${pageno} of ${total} {if next}<a href="javascript:void(0);" id="next_galleries">next&gt;&gt;</a>{/if}</p></div>
</div>
</textarea>
{% endblock %}
