{% extends "index/base.html" %}
{% block title %}About Redtide{% endblock %}
{% block content %}
<div id="main">
    <div class="sub">
        <div class="subright">
            <ul>
                <li><a href="#team">About the Team</a></li>
                <li><a href="#new">Information For New Swimmers</a></li>
                <li><a href="/coaches/">Coaches</a></li>
            </ul>
        </div>
        <div class="subleft">
            <h1>About Red Tide</h1>
            <div class="redline" id="team"><h2>About the Team</h2></div>
            <h3>Masters Swimming</h3>
            <p>Masters swimming is an organized program of swimming for adults over 18. United States Masters Swimming (<a href="http://www.usms.org" target="_blank">www.usms.org</a>), is divided into Local Masters Swim Clubs (LMSC). Red Tide is part of the Metropolitan Masters LMSC (<a href="http://www.metroswim.org" target="_blank">www.metroswim.org</a>).</p>
            
            <h3>About Red Tide</h3>
            <p>Red Tide is a competitive masters swim team in New York City and has been in existence for over 20 years.  It is a cooperatively run organization of over 100 swimmers from novices to national champions.  Red Tide welcomes swimmers over 18 of all abilities, goals, and experience.   We swim for fun, fitness, and competition.</p>
    
            <h3>Workouts</h3>
            <p>We offer a variety of morning and evening workouts in two pools in the city. Workouts typically have two coaches on deck.  We swim for 1.5 to 2 hours and average about 3,000 to 5,000 yards. The lanes vary by the swimmers' ability and speed.  Two lanes of the pool tend to be set up for more novice swimmers and workout at a slower pace. We are not a "learn to swim" program, but do offer the opportunity for all levels to receive coaching on technique.  We do swim all four strokes, freestyle, butterfly, backstroke and breaststroke in practices.  Click <a href="/workouts/">here</a> for the Workout Schedule</p>
        
            <h3>Competition</h3>
            <p>We ask that members commit to swimming or participating in at least two USMS sanctioned meets or events during the course of a year. The meets are a great opportunity to spend time with fellow teammates, participate in relays, try out new events, and test your swimming skills.  This participation is a proud tradition at Red Tide.  It has introduced many newcomers to the sport of organized swimming and challenged those who are more experienced competitive swimmers.</p>

            <p>We compete in all variety of events throughout the year. Our training is geared towards "focus meets" throughout the fall, winter, and spring seasons. These include short course meets at local facilities, the one-hour Postal swim, New England championships, Nationals, and local ocean, lake, bay, and Long Island Sound open water meets in the summer. We usually have 40 to 50 people competing in these events as well as coaches on deck/shore. Our year culminates in April/May with a large meet, such as USMS Short Course Yards Nationals or a regional meet. Click <a href="/meets/">here</a> for the current meet schedule.</p>
            
            <h3>Pools</h3>
            <p>We swim at John Jay College and Baruch College in New York City. The John Jay College SCY pool is located at 899 10th Avenue, between 58th and 59th Streets.  The Baruch College SCM pool is located 55 Lexington Avenue at the corner of 24th Street and Lexington Avenue.</p>

            <h3>Coaches</h3>
            <p>Click <a href="/coaches">here</a> for information about Red Tide Coaches.</p>
            <div class="redline" id="new"><h2>Information For New Swimmers</h2></div>

            <h3>New York Based Swimmer</h3>
            <p>Red Tide encourages you to come and swim with the team to see what we're about. <a href="/workouts/">Check out the workout schedule</a>. Arrive early and identify yourself to a coach. Unless you've got a current USMS card, you'll need to sign a waiver (for insurance purposes) valid for 30 days. A drop in fee of $15 is payable at each workout you attend. Your first workout is free.</p>
        
            <p>Once you decide to join Red Tide (and we hope you do!) <a href="/howtojoin/">please click here for fee options</a>.</p>

            <h3>Visitors</h3>
            <p>Out of town visitors are welcome to join Red Tide practices. Please bring your USMS card. If you don't have one, we'll provide you with a waiver to sign that will be valid for 30 days. The drop-in fee is $5 per workout. <a href="/workouts/">Click here for the workout schedule</a>.</p>
        
            <h3>All Newcomers</h3>
            <p>For your first practice, arrive early and speak to a coach before getting in the pool. The coach will help you determine what is the best lane for you based on your swimming experience and fitness level, by giving you a brief 50 yard assessment test.  Our lanes are divided by speed and ability.</p>

            <p>If you need additional information or have questions, please contact our membership coordinator (click <a href="/contact/">here</a> for contact information)</p>
        </div>
        <br class="clearme"/>
    </div>
    {% include "index/footer.html" %}
</div>
{% endblock %}
