<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{% block title %}Red Tide Masters Swimming New York{% endblock %}</title>
		<meta name="Authors" content="Anna Armentrout Kevin Lahoda Frederick Grim" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
		<meta http-equiv="keywords" content="sports, swim, swimming, swimmer, swimmers,team, teams, athletics, athletes, organization, organizations, New York, Masters, US Masters, triathlete, triathalon"/>
    <meta name="description" content="Red Tide of NYC, Inc. is a cooperatively-run non-profit Masters swim club in Manhattan with over 100 members competing on all levels. Site includes practice info, results, links and more."/>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Comfortaa">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Sansita+One">
		<link rel="stylesheet" type="text/css" href="/media/css/rt_base.css" />
		<link rel="stylesheet" type="text/css" href="/media/css/google_search.css" />
		
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/redtide.js"></script>
    {% block add_stylesheets %}{% endblock %}
		{% block add_javascript %}{% endblock %}
	</head>

	<body>
		<div id="container">
			<div id="head">
			  <strong>MEMBERS</strong>
  			<a href="https://www.clubassistant.com/club/password.cfm?c=1376">
  				Forgot username/password? Set up username/password?
  			</a>
  			<div class="login_form">
					<!-- club assistant login -->
						<form action="https://www.clubassistant.com/club/login_do.cfm" method="post">
							<div class="field">  
								<label for="txtLoginName">USERNAME</label> 
								<input type="text" name="txtLoginName" maxlength="50"/>
								<input type="hidden" name="txtLoginName_required" value="Please enter a Login Name."/>
							</div>
							<div class="field">
								<label for="pasPassword">PASSWORD</label> 
								<input type="password" name="pasPassword" maxlength="50"/>
								<input type="hidden" name="pasPassword_required" value="Please enter a Password."/>
							</div>
		    			<div class="field">
		    				<input type="hidden" name="hidClubID" value="1376">
		    				<button type="submit" value="Login">LOGIN</button>
		    			</div>
		    		</form>
		    </div>
			</div>
			<div class="logo">
				<a href="/"><img width="169" height="112" border="0" src="/media/img/rt_logo_112.png"/></a>
				<div class="search">
					<a href="http://www.facebook.com/redtidenyc" class="facebook">FACEBOOK</a>
					<div id="searchwrapper">
            <!--script>
            (function() {
              var cx = '003271229151040756210:ka1nrkbnwnu';
              var gcse = document.createElement('script'); gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                  '//www.google.com/cse/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
            </script>
            <gcse:search></gcse:search-->
						<!--form>
							<input type="text" class="searchbox" placeholder=" [SEARCH]">
							<input type="image" src="/media/img/search_button.png" class="searchbox_submit"/>
						</form>
					</form-->
					</div>
				
				</div>
			</div>
			<div id="topnav">
				<ul id="tabnav">
					<li>
						<a href="/">HOME</a>
					</li>
					<li>
						<a href="/about/">ABOUT</a>
					</li>
					<li>
						<a href="/join/">JOIN</a>
					</li>
					<li>
						<a href="/meets/">COMPETITION</a>
					</li>
					<li>
						<a href="/photos/">GALLERY</a>
					</li>
					<li>
						<a href="/training_trip/">EXTRAS</a>
					</li>
					<li>
						<a href="/resources/">RESOURCES</a>
					</li>
					<li>
						<a href="/contact/">CONTACT US</a>
					</li>
				</ul>
			</div>
			{% block content %}
			{% endblock %}
		</div>
		{% block bodyappend %}{% endblock %}
		<script type="text/javascript">if(_uacct == '') { _uacct = "UA-1705610-1"; urchinTracker();}</script>
	</body>
</html>
