{% extends "index/base.html" %}
{% block title %}Red Tide Guest Blog{% endblock %}
{% block add_stylesheets %}
<script type="text/javascript" src="/media/js/blog.js"></script>
{% endblock %}
{% block content %}
<div id="main">
    <div class="sub">
	<div id="subleft" class="subleft">
	    <ul id="rightnav">
            {% for blog in object_list %}
                {% ifnotequal blog.id object.id %}
                <li id="blog_{{ blog.id }}"><a href="javascript:void(0);">{{ blog.short_name }} "{{ blog.pub_date|date:"l, N j Y" }}"</a></li>
                {% else %}
                <li id="blog_{{ blog.id }}">{{ blog.short_name }} "{{ blog.pub_date|date:"l, N j Y" }}"</li>
                {% endifnotequal %}
            {% endfor %}                
            </ul>	
	</div>
	<div id="subright" class="subright">
            <h1>Redtide Guest Blog</h1>
            
            <div id="current_{{ object.id }}" class="redline"><h2>{{ object.title }}</h2></div>
            <h3 id="pub_date">{{ object.author }} | {{ object.pub_date|date:"l, N j Y"  }}</h3>
            <div id="blog">{{ object.text }}</div>
        </div> 
        <br class="clearme"/>
    </div>
    {% include "index/footer.html" %}
</div>
{% endblock %}
