{% extends "index/base.html" %}
{% block title %}Forums{% endblock %}
{% block add_stylesheets %}<link rel="stylesheet" type="text/css" href="/media/css/ab_boxes.css" />{% endblock %}
{% block top_menu %}{% endblock %}
{% block content %}
				<div id="s1">
					<div class="grey_tab">
					</div>
					<div style="border-bottom: 0px;" class="about_text" id="s1_text">
						<p class="grey_text_fs"><span class="red_title_nofs">The Red Tide Forums Are Coming Soon</span><br/><br/>
						</p>
					</div>	
				</div>
{% endblock %}
