{% extends "index/base.html" %}
{% block add_stylesheets %}
	<link rel="stylesheet" type="text/css" href="/media/css/rtindex.css" />
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="/media/css/ie7hacks.css"/>
	<![endif]-->
{% endblock %}
{% block add_javascript %}
	<script type="text/javascript" src="/media/js/slideshow.js"></script>
{% endblock %}
{% block content %}
<div id="home_tease">
	<div class="left">
		<div id="homeslides">
				<img src="/media/img/slideshow/homepage_slider1.png" class="active" />
				<img src="/media/img/slideshow/homepage_slider2.png"/>
				<img src="/media/img/slideshow/homepage_slider3.png"/>
				<img src="/media/img/slideshow/homepage_slider4.png"/>
				<img src="/media/img/slideshow/homepage_slider5.png"/>
				<img src="/media/img/slideshow/homepage_slider6.png"/>
				<img src="/media/img/slideshow/homepage_slider7.png"/>
				<img src="/media/img/slideshow/homepage_slider8.png"/>
		</div>
		<div id="slide_controls">
			<ul>
				<li>
					<a href="">&lt;</a>
				</li>
				<li>
					<a href="" class="circle">.</a>
				</li>
				<li>
					<a href="" class="circle">.</a>
				</li>
				<li>
					<a href="" class="circle">.</a>
				</li>
				<li>
					<a href="" class="circle">.</a>
				</li>
				<li>
					<a href="" class="circle">.</a>
				</li>
				<li>
					<a href="" class="circle">.</a>
				</li>
				<li>
					<a href="" class="circle">.</a>
				</li>
				<li>
					<a href="" class="circle">.</a>
				</li>
				<li>
					<a href="">&gt;</a>
				</li>
				<li>
					<a href="/photos/" class="normal">VIEW GALLERY</a>
				</li>
			</ul>
			
		</div>
	</div>
	<div class="right">
		<div class="content">
			<h2>Welcome To Red Tide</h2>

			<p>Red Tide New York City masters swim team is a community of athletes with a passion for the pool. We swim for fun, fitness and competition.</p>

			<p>Based in New York City for over twenty years, Red Tide prides itself on the many walks of life that comprise our membership -- from novice swimmers to USMS national and world titleholders as well as runners, cyclists and triathletes.  Our members are locally based to globetrotting professionals who enjoy the camaraderie and competition that are part of Red Tide.</p>
		</div>
	</div>
	<br class="clearme"/>
</div>
<div id="main">
    <!--div class="left">
    	<iframe width="425" height="349" src="http://www.youtube.com/embed/KsHDfvNkU94" frameborder="0" allowfullscreen></iframe>
    </div-->
	
	
    <div class="left">

        {% if current_closings %}
        <h2>Cancellations</h2>
        <div id="cancellations">
            
               <p>Practice will be cancelled on: 
                {% for closing in current_closings %}
		     {% if not forloop.last %}
                     {{ closing }},&nbsp;
		     {% else %}
		     {{ closing }}
		     {% endif %}
                {% endfor %}
                <p>
        </div>
        {% endif %}
        <div class="redline">
            <h2>Workout Schedule</h2>
        </div>
        <table class="schedTable">
            <thead>
                <tr>
                    <th class="title" colspan="3">{{ season }}</th>
                </tr>
                <tr>
                    <th>Workout</th>
                    <th>Time</th>
                    <th>Pool</th>
                </tr>
            </thead>
            <tbody>
                {% for p in practices %}
                <tr>
                    <td>{{ p.day }} {{ p.period }}</td>
                    <td>{{ p.start }}-{{ p.end }}</td>
                    <td><a href="/workouts/#{{ p.pool|slugify }}">{{ p.pool }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="right">
        <div class="redline">
            <h2>Announcements</h2>
        </div>
	{% autoescape off %}
        {% for a in current_announcements %}
        <h3>{{ a.title }}</h3>
        <p>{{ a.fptext }}</p>
        {% endfor %}
	{% endautoescape %}
    </div>
    <br class="clearme"/>
</div>
{% include "index/footer.html" %}
{% endblock %}
