<textarea id="lightbox_template" style="display: none;">
<div id="lightbox" style="display:none;">
    <div id="outerImageContainer">
        <div id="topCaption">
            <span id="tcaption"></span>
        </div>
        <div id="imageContainer">
            <img id="lightboxImage"/>
            <div id="hoverNav">
                <a id="prevLink" href="javascript:void(0);"></a>
                <a id="nextLink" href="javascript:void(0);"></a>
            </div>
            <div id="loading">
                <a id="loadingLink" href="javascript:void(0);"><img src="/media/img/loading.gif"/></a>
            </div>
        </div>
    </div>
    <div id="imageDataContainer" class="clearfix">
        <div id="imageData">
            <div id="imageDetails">
                <span id="caption"></span>
                <span id="numberDisplay"></span>
            </div>
            <div id="bottomNav">
                <a id="bottomNavClose" href="javascript:void(0);"><img src="/media/img/closelabel.gif"/></a>
            </div>
        </div>
    </div>
</div>
</textarea>
