{% extends "index/base.html" %}
{% block title %}The Redtide Photo Gallery{% endblock %}
{% block add_stylesheets %}
	<link rel="stylesheet" type="text/css" href="/media/css/ab_boxes.css" />	
	<link rel="stylesheet" type="text/css" href="/media/css/ms_boxes.css" />
{% endblock %}
{% block top_menu %}{% endblock %}
{% block content %}
	<div id="s1">
		<div style="padding: 0;" class="grey_tab">
			<img style="height: 320px;" src="/media/images/photos_tab.jpg"/>	
		</div>
		<div class="about_text">
			<p class="grey_text_fs"><span name="s1" class="red_title_nofs">Photo Gallery</span>
				<br/><br/>
				Click on a link below to go to a gallery.
			</p>	
			<ul style="top: 20%;" class="ul_ms">
				<li class="li_ms">
					<a class="red_link" href="http://photobucket.com/albums/y7/fastfilm/">Paul Gentry's Photos</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
