{% extends "index/base.html" %}
{% block title %}Workout Schedule{% endblock %}
{% block add_stylesheets %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&sensor=false"></script>
	<script type="text/javascript" src="/media/js/workoutmap.js"></script>
{% endblock %}
{% block content %}
<div id="main" section="schedule">
    <div id="sub">
        <div class="sub">
            <div class="subleft">
                {% include "common/schedule_subnav.html" %}
            </div>
            <div class="subright">
              <img src="/media/img/headers/schedule.jpg"/>
                <h1><span>Workout Schedule</span></h1>
                <table class="schedTable">
                    <tbody>

                        {% for p in practices %}
                          {% ifchanged p.day %}
                            {% if not forloop.first %}
                              <tr class="empty"><td></td></tr>
                            {% endif %}
                            <tr class="day">
                              <td colspan="3">{{ p.day }}</td>
                            </tr>
                          {% endifchanged %}
                          <tr>
                            <td width="20%">{{ p.period }}</td>
                            <td width="35%">{{ p.start }}-{{ p.end }}</td>
                            <td><a href="/workouts/#{{ p.pool|slugify }}">{{ p.pool }}</a>
                              {% ifequal forloop.counter 9 %}
                                (dryland) 
                              {% endifequal %}
                            </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a name="pools"></a>
                <a name="baruch"></a>
                <div class="redline" id="baruch">
                    <h2>Baruch College Pool</h2>
                </div>

                <p class="intro">55 Lexington Avenue &amp; 24th Street<br/>
                Subway: 1, 6, F, N, or R trains to 23rd Street
                Bus: M1, 2, 3, 5, 6, 7, 15, 18, 101, or 102 to 23rd Street</p>
               
               <div class="map" id="barmap"></div> 
               
               <a name="chinatown"></a>
               <div class="redline" id="chinatowny">
                   <h2>Chinatown YMCA Pool</h2>
               </div>

               <p class="intro">273 Bowery, at the corner of Houston and Bowery, in the same building as Wholefoods<br/>
               Subway: B, D, M to Broadway-Lafayette
                       F to 2nd Ave
                       6 to Bleecker
                       You will be asked to show your Red Tide membership card or your USMS card.</p>
              
              <div class="map" id="ymcamap"></div>
 
              <a name="john_jay"></a>
              <div class="redline" id="john-jay">
                  <h2>John Jay College Pool</h2>
              </div>

              <p class="intro">899 10th Avenue (Amsterdam) &amp; 58th Street<br/> 
                Subway: 1, A, B, C or D to 59th Street / Columbus Circle
                N, Q, R to 57th / 7th Avenue
                Bus: M11 stops right in front</p>

		<div class="map" id="jjmap"></div> 
 
                

 
            </div>
        </div>
        <br class="clearme"/>
    </div>
    {% include "common/footer.html" %}
</div>
{% endblock %}
