{% extends "index/base.html" %}
{% block title %}Workout Schedule{% endblock %}
{% block add_stylesheets %}
	<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ google_key }}"></script>
	<script type="text/javascript" src="/media/js/MochiKit/MochiKit.js"></script>
	<script type="text/javascript" src="/media/js/workoutmap.js"></script>
{% endblock %}
{% block content %}
<div id="main">
    <div id="sub">
        <div class="sub">
            <div class="subright">
                <ul>
                    <li><a href="#schedule">Workout Schedule</a></li>
                    <li><a href="#john-jay">John Jay College Pool</a></li>
                    <li><a href="#baruch">Baruch College Pool</a></li>
		    <li><a href="#chinatowny">Chinatown YMCA Pool</a></li>
		    <li><a href="#roosevelt-island-sportspark">Roosevelt Island Sportspark Pool</a></li>
                </ul>
            </div>
            <div class="subleft">
                <h1>Red Tide Workout Information</h1>

                <div class="redline" id="schedule">
                    <h2>Workout Schedule</h2>
                </div>
                <table class="schedTable">
                    <thead>
                        <tr>
                            <th class="title" colspan="3">{{ season }}</th>
                        </tr>
                        <tr>
                            <th>Workout</th>
                            <th>Time</th>
                            <th>Pool</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in practices %}
                            <tr>
                                <td>{{ p.day }} {{ p.period }}</td>
                                <td>{{ p.start }}-{{ p.end }}</td>
                                <td><a href="#{{ p.pool|slugify }}">{{ p.pool }}</a></td> 
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="redline" id="baruch">
                    <h2>Baruch College Pool</h2>
                </div>

                <p class="intro">Baruch College is located at 55 Lexington Avenue &amp; 24th Street.<br/>
                It is accessible by subway (#1, #6, F, N, or R trains to 23rd Street station) or by bus (M1, 2, 3, 5, 6, 7, 15, 18, 101, or 102 to 23rd Street)</p>
               
               <div class="map" id="barmap"></div> 
 
                <div class="redline" id="john-jay">
                    <h2>John Jay College Pool</h2>
                </div>

                <p class="intro">John Jay College is located at 899 10th Avenue (Amersterdam) &amp; 58th Street.<br/> Take a subway (#1, A, B, C or D) to 59th Street (Columbus Circle) and walk over to 10th Avenue.  Or take the Q, W, N, or R to 57th &amp; 7th Avenue.  The M11 bus also stops right in front.</p>

		<div class="map" id="jjmap"></div> 
 
                <div class="redline" id="chinatowny">
                    <h2>Chinatown YMCA Pool</h2>
                </div>

                <p class="intro">The Chinatown YMCA is located at 273 Bowery, at the corner of Houston and Bowery, in the same building as Wholefoods.<br/>
		
		Take the B,D,6,F,V,J,M or Z trains.  You will be asked to show your Red Tide membership card or you USMS card.</p>
               
               <div class="map" id="ymcamap"></div> 

                <div class="redline" id="roosevelt-island-sportspark">
                    <h2>Roosevelt Island Sportspark Pool</h2>
                </div>

                <p class="intro">
		<strong>By F Train:</strong><br/>
		 The Roosevelt Island stop is the first stop in Queens. When you get out of the F train, head left and walk under the bridge.  You'll see the tennis bubble and a set of stairs.  Walk up the stairs and along the outside of the building (you'll see the pool and basketball courts to your right inside.  The doors are at the bottom of the flight of stairs.<br/>
		  
		  <strong>For directions by car or bus:</strong><br/>
		  <a href="http://www.rioc.com/transportation.htm">www.rioc.com/transportation.htm</a><br/>
		   
		   Please Note:<br/>
		    
		    Starting March 1, 2010, the Roosevelt Island Tram will closed for renovation.
		</p>
		
               
               <div class="map" id="rooseveltmap"></div> 
 
            </div>
        </div>
        <br class="clearme"/>
    </div>
    {% include "index/footer.html" %}
</div>
{% endblock %}
