{% extends "index/base.html" %}
{% block title %}Workout Schedule{% endblock %}
{% block add_stylesheets %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&sensor=false"></script>
	<script type="text/javascript" src="/media/js/workoutmap.js"></script>
{% endblock %}
{% block content %}
<div id="main" section="schedule">
    <div id="sub">
        <div class="sub">
            <div class="subleft">
                {% include "common/schedule_subnav.html" %}
            </div>
            <div class="subright">
              <img src="/media/img/headers/schedule.jpg"/>
                <h1><span>Workout Schedule</span></h1>
                <table class="schedTable">
                    <tbody>

                        {% for p in practices %}
                          {% ifchanged p.day %}
                            {% if not forloop.first %}
                              <tr class="empty"><td colspan="3"></td></tr>
                            {% endif %}
                            <tr class="day">
                              <td colspan="3">{{ p.day }}</td>
                            </tr>
                          {% endifchanged %}
                          <tr>
                            <td width="20%">{{ p.period }}</td>
                            <td width="35%">{{ p.start }}-{{ p.end }}</td>
                            <td><a href="/workouts/#{{ p.pool|slugify }}">{{ p.pool }}</a>
                              <!-- 
				{% ifequal forloop.counter 10 %}
                               	 (dryland) 
                             	{% endifequal %}
			      -->
                            </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a name="pools"></a>
                <a name="baruch"></a>
                <div class="redline" id="baruch">
                    <h2>Baruch College Pool</h2>
                </div>

                <p class="intro">55 Lexington Avenue &amp; 24th Street<br/>
                Subway: 1, 6, F, N, or R trains to 23rd Street<br/>
                Bus: M1, 2, 3, 5, 6, 7, 15, 18, 101, or 102 to 23rd Street<br/>
                Sign in at the security desk and take the elevator or stairs to the 3rd basement level
                </p>
               
               <div class="map" id="barmap"></div> 
               
               <a name="chinatown"></a>
               <div class="redline" id="chinatowny">
                   <h2>Chinatown YMCA Pool</h2>
               </div>

               <p class="intro">273 Bowery, at the corner of Houston and Bowery, in the same building as Wholefoods<br/>
               Subway: B, D, M to Broadway-Lafayette<br/>
                       F to 2nd Ave<br/>
                       6 to Bleecker<br/>
                       You will be asked to show your Red Tide membership card or your USMS card.</p>
              
              <div class="map" id="ymcamap"></div>
 
              <a name="john_jay"></a>
              <div class="redline" id="john-jay">
                  <h2>John Jay College Pool</h2>
              </div>

              <p class="intro">899 10th Avenue (Amsterdam) &amp; 58th Street<br/> 
                Subway: 1, A, B, C or D to 59th Street / Columbus Circle<br/>
                N, Q, R to 57th / 7th Avenue<br/>
                Bus: M11 stops right in front<br/>
                Show your Red Tide membership card or sign in at the security desk, proceed down the escalators 
                and take the elevator bank to your LEFT to “C” level.  The pool is to the left.
                </p>

		<div class="map" id="jjmap"></div> 
 
                
                <a name="convent_of_the_sacred_heart_school"></a>
                <div class="redline" id="sacred_heart">
                    <h2>Convent of the Sacred Heart School Pool</h2>
                </div>

                <p class="intro">406 E 91st Street<br/>
                Subway: Q or R trains to 96th Street<br/>
                Bus: M15, 31, or M86 to 1st Avenue / E 91st Street
                </p>
               
               <div class="map" id="sacredmap"></div> 

 
            </div>
        </div>
        <br class="clearme"/>
    </div>
    {% include "common/footer.html" %}
</div>
{% endblock %}
