body { 
	font-family: 'Comfortaa', sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #636466; 
	line-height: 26px; 
	margin: 0px; 
	padding: 0px; 
	/*background: #0092ba;*/
	background: #fff url('/media/img/light_wool.png') repeat top left;
}
a { text-decoration: underline; color: #de272a; }
a:hover { text-decoration: none; color: #de272a; }
a:visited { color: #de272a;	 }

#container {
    width: 970px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#head { 
	/*height: 58px; */ 
	padding: 23px 15px 10px 15px;
	background-color: #d33535 ;
}

.logo {
	margin: 20px;
}

.search {
	float: right;
	margin-top: 76px;
}

#searchwrapper {
	width: 227px; 
	height: 32px;
	background: url('/media/img/search_box.png') no-repeat;
	padding: 0px;
	margin-left: 20px;
	position: relative; /*important*/
	display: inline-block;
}

.searchbox {
	border: 0px; /*important*/
	background-color: transparent; /*important*/
	padding-left: 5px;
	width: 222px;
	height: 32px;
	font-size: 17px;
}
 
.searchbox_submit {
	border: 0px; /*important*/
	background-color: transparent; /*important*/
	position: absolute; /*important*/
	top:4px;
	left:193px;
	width:32px;
	height:28px;
}

a.facebook {
	background: url('/media/img/facebook.png') no-repeat 0 12px;
	padding: 8px 10px 8px 19px;
	color: #636466;
	font-size: 13px;
	text-decoration: none;
	border-right: 3px solid #8a8a8c;
	display: inline-block;
}

.search form {
	display: inline-block;
}

/* top navigation */
#topnav { 
	 
}

#tabnav { 
	background: url('/media/img/nav_bar_970_37.png') no-repeat;
	height: 37px; 
	margin: auto; 
	padding-left: 0px; 
}
#tabnav li { margin: 0; padding: 0; display: inline; list-style-type: none; }
#tabnav a:link, #tabnav a:visited {
    float: left;
    /*background: transparent url('/media/img/navborder.gif') no-repeat top right;*/
    font-size: 15px;
    line-height: 18px;
    padding: 10px 28px 3px 28px;
    margin-right: 0px;
    text-decoration: none;
    color: #636466;
}

#tabnav a:hover, #tabnav a:link.active, #tabnav a:visited.active { 
	color: #d33535 
}

/* main */
#main { background: #ffffff; }
/* top right bottom left */
#main .sub { height: 100%; border-top: 1px solid #d6d6d6; margin-top: 0px; background: #ffffff url('/media/img/sub_bg.gif') repeat-y }
#main .subleft { float: left; width: 600px; padding:  10px 20px 10px 20px; _padding-top: 20px; }
*:first-child+html #main .subleft { padding-top: 20px; }
#main .subright {
	height:100%;
	font-size: 11px;
	float: right;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 10px;
	_padding-top: 20px;
	width: 250px;
}
#main .subleft ul { line-height: 18px; font-size: 12px; margin-left: 14px; }
#main .subleft li { margin-bottom: 11px; }
#main .subright ul { list-style: none; margin-left: 0; padding-left: 1em; text-indent: -1em; }

/* PHOTOS */

#main .subphotos { width: 870px; padding:  10px 20px 10px 20px; _padding-top: 20px; }
#main .photocell { padding: 8px; width: 180px; }
#main .photoTable { text-align: center; }
#main .photoTable td { font-size: 11px; background: #f6f6f6; padding: 0px 0px 0px 0px; }
#main .photoTable td.alt { background-color: #ffffff; }
#main .photoTable h3 { color: #333; font-size: 12px; margin-top: -5px; padding-top: 0px; }
#main .map {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f6f6f6;
	border: 1px solid #de272a;
	width: 600px;
	height: 600px;
}
#main .photoTable td { font-size: 11px; background: #f6f6f6; padding: 0px 0px 0px 0px; }
#main .meetTable td { font-size: 11px; padding: 0px 8px 0px 0px; vertical-align: top; }
#main .meetTable td.date { padding-top: 15px; color: #666; }
#main .intro { margin-top: 20px; }
#main .left {
    min-height:100%;	
    padding:  10px 20px 10px 30px;
    _padding-top: 20px;
    background: #ffffff;
    width: 405px;
    float: left;
}
*:first-child+html #main .left { padding-top: 20px; }
#main .right {
	padding:  10px 30px 10px 20px;
        _padding-top: 20px;
	background: #ffffff;
	width: 405px;
	float: right;
}

#main .right ol { line-height: 18px; font-size: 12px; margin-left: 14px; }
#main .subleft ol { line-height: 18px; font-size: 12px; margin-left: 14px; }
*:first-child+html #main .right { padding-top: 20px; }
h1, h2 {
	font-size: 27px;
	font-family: 'Sansita One', sans-serif;
	font-weight: normal;
	color: #d33535;
	margin: 0 0 28px 0;
}

#main .right ul { line-height: 18px; font-size: 12px; margin-left: 8px; }

#main h3 {
	font-size: 15px;
	margin-bottom: -3px;
	padding-bottom: 0px;
}

#main p {
	font-size: 12px;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

#main .rightchunk {
	color: #666;
	font-size: 9px;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#main .imgmain { border: 1px solid #de272a; }
#main .redline { border-bottom: 1px solid #de272a; }
#main .highlightbox {
	margin-top: 20px;
	padding: 10px 10px 0px 10px;
	background-color: #f6f6f6;
	border: 1px solid #d6d6d6;
	margin-bottom: 20px;
}

/* Schedule Table */

.schedTable {
	border-spacing: 0px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;
	margin-top: 15px;
}

.schedTable th { font: bold 13px "Lucida Grande", verdana, arial, helvetica, sans-serif; color: #de272a; text-align: left; padding: 2px 2px 2px 2px; }
.schedTable th.title { font-size: 14px; background: #ffffff; color: #111; padding-bottom: 8px; }
.schedTable td { font-size: 13px; background: #fff; padding: 0px 2px 0px 2px; }
.schedTable a { font-weight: bold; color: #00667c; text-decoration: none; }
.schedTable a:hover { text-decoration: underline; }
.schedTable a:visited { font-weight: bold; color: #00667c; }

/* Reg table */
.regTable {
    font-size: 12px;
    border-spacing: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    margin-top: 15px;
}

.regTable td { padding: 2px; }

#cancellations { padding: 10px 10px 1px 10px; margin-bottom: 12px; color: #fff; background: #de272a url('/media/img/cancel_bg.gif') repeat-x top left; }
#cancellations a { color: #ffffff; text-decoration: underline; }
#cancellations a:hover { text-decoration: none; }
#cancellations a:visited { color: #ffffff; }

#footer {
	color: #666666;
	text-align: center;
	font-size: 10px;
	line-height: 36px;
	height: 36px;
	background: #f6f6f6 url('/media/img/tiles_bg.gif') repeat-x top left;
}

/* utility */

.clearme {
	clear:both;
}

/*form elements */

input {
    color: #333333;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}

label {
	font-weight: bold;
}

.submit {
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    background-color: #f6f6f6;
}

.error { 
        font-size:12px !important; 
        display:block; 
        padding:4px 5px 4px 25px; 
        margin:0 0 3px 0; 
        border:1px solid red; 
        color:red;
        background:#ffc url(/media/img/admin/icon_error.gif) 5px .3em no-repeat; 
}
div.displaycontent {
    background-color: #FAFAFA;
    overflow: auto; 
    z-index: 1000;
    margin: 100px;
    padding: 20px;
    height: 400px;
}

.displaycontent h1 { font-size: 16px; }
.displaycontent p { line-height: 14px; font-size: 10px; margin-top: 10px; margin-bottom: 10px; }
.displaycontent .close { float: right; }
.displaycontent .closebottom { font-size: 12px; font-weight: bold; text-align: center; }

.login_form {
	line-height: 12px ;
	float: right;
}

#head strong {
	font-size: 17px;
	color: #233c61;
	font-weight: normal;
	margin-right: 20px;
}

#head a {
	color: #dcddde;
	font-size: 10px;
}

.login_form label {
	color: #fcfcfc;
	font-size: 12px;
}

.login_form .field {
	display: inline-block;
	margin-left: 20px;
}

.login_form button {
	font-family: 'Comfortaa', sans-serif;
	background-color: #d33535;
	color: #233c61;
	font-size: 12px;
	border: none;
}
