body { 
	font-family: 'Comfortaa', sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #636466; 
	line-height: 16px; 
	margin: 0px; 
	padding: 0px; 
	/*background: #0092ba;*/
	background: #fff url('/media/img/light_wool.png') repeat top left;
}

p { margin-bottom: 20px; }
a { text-decoration: underline; color: #de272a; }
a:hover { text-decoration: none; color: #de272a; }
a:visited { color: #de272a;	 }

#container {
    width: 970px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#head { 
	/*height: 58px; */ 
	padding: 23px 15px 10px 15px;
	background-color: #d33535 ;
}

.logo {
	margin: 20px;
}

.search {
	float: right;
	margin-top: 76px;
}

#searchwrapper {
	width: 227px; 
	height: 32px;
	background: url('/media/img/search_box.png') no-repeat;
	padding: 0px;
	margin-left: 20px;
	position: relative; /*important*/
	display: inline-block;
}

.searchbox {
	border: 0px; /*important*/
	background-color: transparent; /*important*/
	padding-left: 5px;
	width: 222px;
	height: 32px;
	font-size: 17px;
}
 
.searchbox_submit {
	border: 0px; /*important*/
	background-color: transparent; /*important*/
	position: absolute; /*important*/
	top:4px;
	left:193px;
	width:32px;
	height:28px;
}

a.facebook {
	background: url('/media/img/facebook.png') no-repeat 0 12px;
	padding: 8px 10px 8px 19px;
	color: #636466;
	font-size: 13px;
	text-decoration: none;
	border-right: 3px solid #8a8a8c;
	display: inline-block;
}

.search form {
	display: inline-block;
}

/* top navigation */
#topnav { 
	 
}

#tabnav { 
	background: url('/media/img/nav_bar_970_37.png') no-repeat;
	height: 37px; 
	margin: auto; 
	padding-left: 0px; 
}
#tabnav li { margin: 0; padding: 0; display: inline; list-style-type: none; }
#tabnav a:link, #tabnav a:visited {
    float: left;
    /*background: transparent url('/media/img/navborder.gif') no-repeat top right;*/
    font-size: 15px;
    line-height: 18px;
    padding: 10px 28px 3px 28px;
    margin-right: 0px;
    text-decoration: none;
    color: #636466;
}

#tabnav a:hover, #tabnav a:link.active, #tabnav a:visited.active { 
	color: #d33535 
}

h1, h2, h3 {
	font-size: 27px;
	font-family: 'Sansita One', sans-serif;
	font-weight: normal;
	color: #305276;
	margin: 0 0 20px 0;
}

#footer {
	color: #666666;
	text-align: center;
	font-size: 10px;
	line-height: 36px;
	height: 36px;
}

/* utility */

.clearme {
	clear:both;
	width: 0;
	height: 0;
	margin: 0;
}

/*form elements */

input {
    color: #333333;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}

label {
	font-weight: bold;
}

.submit {
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    background-color: #f6f6f6;
}

.error { 
        font-size:12px !important; 
        display:block; 
        padding:4px 5px 4px 25px; 
        margin:0 0 3px 0; 
        border:1px solid red; 
        color:red;
        background:#ffc url(/media/img/admin/icon_error.gif) 5px .3em no-repeat; 
}
div.displaycontent {
    background-color: #FAFAFA;
    overflow: auto; 
    z-index: 1000;
    margin: 100px;
    padding: 20px;
    height: 400px;
}

.displaycontent h1 { font-size: 16px; }
.displaycontent p { line-height: 14px; font-size: 10px; margin-top: 10px; margin-bottom: 10px; }
.displaycontent .close { float: right; }
.displaycontent .closebottom { font-size: 12px; font-weight: bold; text-align: center; }

.login_form {
	line-height: 12px ;
	float: right;
}

#head strong {
	font-size: 17px;
	color: #233c61;
	font-weight: normal;
	margin-right: 20px;
}

#head a {
	color: #dcddde;
	font-size: 10px;
}

.login_form label {
	color: #fcfcfc;
	font-size: 12px;
}

.login_form .field {
	display: inline-block;
	margin-left: 20px;
}

.login_form button {
	font-family: 'Comfortaa', sans-serif;
	background-color: #d33535;
	color: #233c61;
	font-size: 12px;
	border: none;
}

.subleft {
	float: left;
	width: 260px;
}

.subleft ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 20px;
}

.subleft ul li {
	text-transform: uppercase;
	font-size: 17px;
	line-height: 20px;
	margin-top: 25px;
}

.subleft ul li:first-child {
	margin-top: 0px;
}

.subleft ul ul li {
	margin-top: 0px;
	text-transform: none;
}

.subleft ul li a {
	color: #636466;
	text-decoration: none;
}

.subleft ul li a:hover, .subleft ul li a.active {
	color: #DE272A;
}

.subright {
	float: left;
	width: 710px;
}

.subright a { color: #305276; }
.subright a:hover { color: #305276; }
.subright a:visited { color: #305276;	 }

.subright p.pull {
	font-size: 23px;
	line-height: 27px;
	font-style: italic;
}

.subright .column {
	width: 340px;
	float: left;
}

.subright .column:first-child {
	margin-right: 30px;
}

.subright h1 {
	margin-top: 22px;
	position: relative;	
}

/* section head */
.subright h2 {
	text-transform: uppercase;
	font-family: 'Comfortaa', sans-serif;
	font-size: 16px;
	border-bottom: 1px solid #305276;
	margin-top: 50px;
}

.subright h2 .nocaps {
	text-transform: lowercase;
}


.subright h1 span {
	background: #fff;
	position: relative;  
	z-index: 5; 
	padding: 0 5px 0 0;
}

.subright h1:before {  
    content: "";  
    display: block;  
    border-top: solid 1px #305276;  
    width: 100%;  
    height: 1px;  
    position: absolute;  
    top: 90%;  
    z-index: 1;  
}  

.subright .faq {
	color: #DE272A;
}

.subright .bullet {
	color: #DE272A;
	font-size: 25px;
	vertical-align: top;
}

#main {
	margin-top: 28px;
}

/* member page */
.subright .login_form {
	background: #d33535;
	float: none;
	padding: 12px 30px;
}

.subright .login_form p {
	color: #233C61;
	margin-top: 0;
}

.subright .login_form .field {
	display: block;
}

.subright .login_form .field.right {
	text-align: right;
}

.subright .login_form a, .subright .login_form a:hover, .subright .login_form a:visited {
	color: #fff;
	font-size: 10px;
}

.subright .login_form .field button {
	margin-right: 135px;
	cursor: pointer;
}

